.htaccess
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/plugins/*
sitemap.xml
*.log
*.sql
wp-content/cache/
wp-content/backups/
sitemap.xml.gz
wp-config.php
node_modules/
.sass-cache/
.DS_Store
