

/* Table of Content
==================================================
	#Imports
	#Variables
	#Reset
	#Basic Styles
	#Images
	#Buttons
	#Tabs
	#Forms
	#Misc */


/* COMPASS IMPORTS
================================================= */
@import "compass/css3";

/* VARIABLES
================================================= */


$cream: #F1E3C2;
$tan: #E3D9BF;
$grey: #E9E9E9;
$red: #E31B23;
$cherry_black: #472A2B;
$dark_red: #921B23;
$brownish: #a27b30;


/* #Basic Styles
================================================== */
body {
	background: #ffffff url("assets/img/SA_backgroundpattern.jpg") repeat;

	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
 }


/* #Buttons
================================================== */

a.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	background: $grey;
	border: 1px solid $cherry_black;
	outline: 1px solid $cherry_black;
	outline-offset: -4px;
	padding: 5px 35px;
	color: $cherry_black;
	display: inline-block;
	font-size: 12px;
	font-weight: 300;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	margin-bottom: 10px;
	line-height: 21px;
	font-family: "Oswald", sans-serif;
}

a.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
	background: $red;
	color: $cream;

	  }

a.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
	background: $dark_red;
	color: $cream; }

.button.callout-btn,
button.callout-btn,
input[type="submit"].callout-btn,
input[type="reset"].callout-btn,
input[type="button"].callout-btn {
	font-family: "Stint Ultra Expanded", cursive;
	letter-spacing: 0.12em;
	text-align: center;
	padding: 10px 35px;

	& span.callout{
		font: 22px/26px "Oswald", sans-serif;
		text-transform: uppercase;
		text-align: center;
		display: block;
		width: 100%;
	}
}

.button.full-width,
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
	width: 100%;
	padding-left: 0 !important;
	padding-right: 0 !important;
	text-align: center; }






/* #Forms
================================================== */

form {
	margin-bottom: 20px; }
fieldset {
	margin-bottom: 20px; }
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
textarea,
select {
	border: 1px solid #FFF;
	padding: 6px 4px;
	outline: none;
	font: 14px/26px "Open Sans", Helvetica, Arial, sans-serif;
	color: $cherry_black;
	margin: 0;
	width: 210px;
	max-width: 100%;
	display: block;
	margin-bottom: 20px;
	background: #fff; }
select {
	padding: 0; }
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
textarea:focus {
	border: 1px solid #aaa;
		color: $cherry_black;
		-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
	box-shadow:  0 0 3px rgba(0,0,0,.2); }
textarea {
	min-height: 60px; }
label,
legend {
	display: block;
	font-weight: bold;
	font-size: 14px;  }
select {
	width: 220px; }
input[type="checkbox"] {
	display: inline; }
label span,
legend span {
	font-weight: normal;
	font-size: 12x;
	color: $cherry_black; }

/* #Images
================================================== */

img.scale-with-grid {
	max-width: 100%;
	height: auto; }

/* WordPress Image Styles
   ========================================================================== */

.alignnone {margin:5px 20px 20px 0;}
.aligncenter,div.aligncenter {display:block;margin:5px auto 5px auto;}
.alignright {float:right;margin:5px 0 20px 20px;}
.alignleft {float:left;margin:5px 20px 20px 0;}
.aligncenter {display:block;margin:5px auto 5px auto;}
a img.alignright {float:right;margin:5px 0 20px 20px;}
a img.alignnone {margin:5px 20px 20px 0;}
a img.alignleft {float:left;margin:5px 20px 20px 0;}
a img.aligncenter {display:block;margin-left:auto;margin-right:auto;}
.wp-caption {background:#FFF;border:1px solid $cherry_black; max-width:96%;padding:5px 3px 10px;text-align:center;}
.wp-caption.alignnone {margin:5px 20px 20px 0;}
.wp-caption.alignleft {margin:5px 20px 20px 0;}
.wp-caption.alignright {margin:5px 0 20px 20px;}
.wp-caption img {border:0 none;height:auto;margin:0;max-width:98.5%;padding:0;width:auto;}
.wp-caption p.wp-caption-text,.gallery-caption {font-size:11px;line-height:17px;margin:0;padding:0 4px 5px;}
.sticky {}
.bypostauthor {}
	.add-bottom { margin-bottom: 20px !important; }
