
/* Table of Content
==================================================


/* Header Styles
================================================== */

#wpadminbar { position: fixed !important; }

header{ border-bottom: 5px solid white; background-color: #d75502;
	.main-nav { height: 70px;
		#logo { display: inline; float:left; background-image: url('assets/img/header.png'); background-repeat: no-repeat; width: 35%; height: 100%;
			img { margin: 8px 32px; }
		}
		#mainNav { display: inline; float: left; background-color: $orange; width: 55%; height: 100%; font-family: $gothic; text-transform: uppercase; font-size: 22px;

				ul { list-style-type: none; margin-right: 0px; margin-left: 16px; float: left; }
				ul li { display: inline; line-height: 70px; padding: 22px 16px; }
				ul li.current_page_item a, ul li.current_page_ancestor a { border-bottom: 5px solid white; }
				.menu-item-type-custom.current-menu-item a { border-bottom: 5px solid white; }
				ul#menu-main-navigation > li:hover:after { content: url('assets/img/arrow.png'); position: absolute; top: 45px; margin-left: -4%; z-index:2; display: inline; }
				ul li:last-child:hover:after { display: none; }
				ul li a { color: white; }

				ul li ul { display: none; position: absolute; left: 0; z-index: 1; background-color: white; margin-left: 255px; padding-left: 15px; width: 750px; }
				ul li:nth-child(1) ul:before { content: 'Who We Are >'; position: absolute; left: -255px; padding-left:35px; width: 100%; z-index:-1; font-family: $chaparral; font-style: italic; text-transform: none; background-color: white; }
				ul li:nth-child(2) ul:before { content: 'Our Impact on WV >'; position: absolute; left: -255px; padding-left:35px; width: 100%; z-index:-1; font-family: $chaparral; font-style: italic; text-transform: none; background-color: white; }
				ul li:nth-child(3) ul:before { content: 'Local Food News & Video >'; position: absolute; left: -255px; padding-left:35px; width: 100%; z-index:-1; font-family: $chaparral; font-style: italic; text-transform: none; background-color: white; }

				ul li:nth-child(4) ul { padding-left: 50px; width: 715px; }
				ul li:nth-child(4) ul:before { content: 'How We Work Together >'; position: absolute; padding-left:35px; width: 100%; left: -255px; z-index:-1; font-family: $chaparral; font-style: italic; text-transform: none; background-color: white; }

				ul li:hover ul { display: block; }

				ul li.current_page_ancestor ul { display: block; }
				ul li.current_page_item ul { display: block; }
				ul li ul li.current_page_item a { border-bottom: 5px solid $orange;}

				ul > li.current_page_ancestor:after { content: url('assets/img/arrow.png'); position: absolute; top: 45px; margin-left: -4%; z-index:2; display: inline; }

				ul li ul li { display: inline; }
				ul li ul li:hover a { color: $brown;}
				ul li ul li:hover:after { display: none; }
				ul li ul li a { color: $orange; }

				ul li ul li ul { display: none !important; }
				ul li.current_page_ancestor ul li:after { display: none !important; }

				#search { display: inline; float: right; color: white; padding: 25px 25px 25px 20px; cursor: pointer; }
				#search-box { display: none; position: absolute; right: 0; top: 75px; z-index: 1; width: 332px;
					.search-box-input { background-color: $dusty-blue; display: inline-block; float: left; width: 249px; padding: 10px; height: 40px;
						input { width: 100%; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
					}
					.search-box-button { background-color: $orange; display: inline-block; float: left; text-align: center;
						input { background: none; color: white; padding: 18px; }
					}
					.search-box-button:hover {
						input { color: $navy; }
					}
				}

		}
		#donate { float: left; background-color: $teal; width: 10%; font-family: $gothic; text-transform: uppercase; font-size: 22px; height: 100%; cursor: pointer;
			span { color: $navy; text-align:center; display: block; margin: 25px auto;
				a { color: $navy; }
			}
		}
		#donate:hover { background-color: $navy;
			span { color: $teal;
				a { color: $teal; }
			}
		}
	}
}


/* Navigation Styles
================================================== */



/* Responsive Menu
================================================== */


/* Breadcrumbs
================================================== */


#breadcrumbs{ list-style:none; margin-bottom: 20px; margin-left: 20px; overflow:hidden;
	li{ float:left; margin-right:15px; font-family: $chaparral; font-style: italic; font-size: 14px; color: #707070; }
	.separator{ font-weight:700; font-size:20px; color:#999; }
}


/* Homepage Styles
================================================== */

.home-callout { background-color: $dusty-blue; width: 35%; height: 345px; float: left;
	.home-callout-text { color: white; padding: 37px; font-size: 20px; line-height: 30px;
		.highlight { color: $teal; }
	}
}
.home-image { width: 65%; float: left; height: 345px; overflow: hidden;
	img { max-width: 100%; }
	.slide { position: absolute; top: 15px; color: white; background-color:rgba(70, 168, 165, 0.8); padding: 25px; margin: 25px; display: none;
		h2 { color: $navy; }
		a { text-transform: uppercase; color: $orange; font-family: $gothic; font-size: 20px; line-height: 20px; }
		a:hover { color: $navy; }
	}
	.slide:before { content: url('assets/img/teal_arrow.png'); position: absolute; top: 85px; left: -18px; opacity: 0.8; }
}

.home-excerpt { border-top: 10px solid $dusty-blue; padding-top: 15px; margin-top: 15px;}

/* PAGE Styles
================================================== */

.date { font-family: $chaparral; font-style: italic; font-size: 14px; color: #707070; margin-bottom: 20px; }
.green { color: #46a8a5; }

.container { background-color: white; }

.page-content { padding-top: 80px; padding-bottom: 40px; }
.resource-content { padding-top: 20px; padding-bottom: 40px; }
.search-content { padding-top: 20px; padding-bottom: 40px;
	h2 a { color: $orange; }
	h2 a:hover { color: $navy; }
}

.content-block { border-top: 10px solid $navy; height: 260px;
	h2 { padding-top: 25px; }
	h4 { padding-top: 10px; margin-bottom: 3px; }
	h4:hover { color: $navy; }
	.content-block-image { overflow: hidden; height: 100px; }
}

.news-block { border-top: 10px solid $navy; height: 550px;
	h2 { padding-top: 25px; }
	h4 { padding-top: 10px; margin-bottom: 3px; }
	h4:hover { color: $navy; }
	.news-block-image { overflow: hidden; height: 100px; }
}

.page-content-block { border-top: 10px solid $navy;
	h2 { padding-top: 25px; }
	h4 { padding-top: 10px; margin-bottom: 3px; }
	h4:hover { color: $navy; }
	.page-content-block-image { overflow: hidden; height: 100px; }
}

.content-callout { background-color: $dusty-blue; width: 50%; height: 345px; float: right;
	.content-callout-text { color: white; padding: 37px; font-size: 20px; line-height: 30px;
		.highlight { color: $teal; }
	}
}
.content-image { width: 50%; float: left; height: 345px; overflow: hidden;
	img { max-width: 100%; }
	.slide { position: absolute; top: 80px; color: white; background-color:rgba(70, 168, 165, 0.8); padding: 25px; margin: 25px; display: none; width: 410px;
		h2 { color: $navy; }
		a { text-transform: uppercase; color: $orange; font-family: $gothic; font-size: 20px; line-height: 20px; }
		a:hover { color: $navy; }
	}
}

.resource-btn { display: block; background: $teal; color: $navy; text-transform: uppercase; text-align: center; font-family: $gothic; font-size: 20px; line-height: 20px; padding: 10px; cursor: pointer; }
.resource-btn:hover { background: $navy; color: $teal; }

.resource-left { display: inline-block; }
.resource-right { float: right !important; height: 540px; max-height: 540px;
	.resource-right-textbox { padding: 25px; color: white; background-color: $navy; }
}

.read-more img { margin-top: 10px; background-color: $teal; border-radius: 12px; }
.read-more img:hover { background-color: $navy; }

.last { margin-bottom: 0px !important; padding-bottom: 20px; }

.big { -webkit-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.75); -moz-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.75); box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.75); }

/* FOOTER Styles
================================================== */

footer { background-image: url('assets/img/wood.jpg'); background-repeat: no-repeat; height: 168px; width: 100%; margin-top: 10px;
	.container { background-color: transparent; }
	.top-footer {
		.top-footer-box { border: 4px solid white; margin-top: 13px; margin-bottom: 13px; height: 102px; font-family: $gothic, sans-serif; text-transform: uppercase; color: white; font-size: 26px; line-height: 26px; text-align: center; padding: 16px 18px;
			img { margin-top: 5px;}
		}
	}
	.two { margin: 0px !important; padding-right: 15px; padding-left: 15px; position: relative; }

	.container .row { margin-bottom: 0px; padding-bottom: 20px; }

	.teal-image { position: absolute; left: 0px; opacity: 0; }
	.teal-image:hover { opacity: 0.6; }

}

.bottom-footer { font-family: $chaparral; font-size: 12px; line-height: 18px; padding: 14px;
	.bottom-footer-left { float: left; }
	.bottom-footer-right { float: right; text-align: right; }
}

.bottom { margin-bottom: 20px; }

/* #Page Styles
================================================== */

#periods {

	padding: 25px;
	background-color: #505e6d;
	color: white;

	h3 { color: white; cursor: pointer; margin-bottom: 5px; }
	ul { margin-left: 0px; margin-bottom: 10px;
		li { list-style-type: none;
			a { color:$teal;}
			a:hover { color: white; }
			a:visited { color: $teal; }
		}
	}
}

.tagged-posts {
	border-top: 10px solid #505e6d;

	h2 { margin-top: 10px;}

	ul { margin-left: 0px; margin-bottom: 10px; margin-top: 10px;
		li { list-style-type: none; margin-bottom: 10px; line-height: 22px;
			a { font-family: $gothic; text-transform: uppercase; font-size: 20px; }
			a:hover { color: #2e485b; }
		}
	}

}

.active-cat {
	background: $navy !important; color: $teal !important;
}
.active-cat:hover {
	background: $teal !important; color: $navy !important;
}

/* Sidebar Styles
================================================== */

.wp-caption {
	max-width: 100%;
	border: 0px;
	padding: 0px;
}

/* #Checkbox Styles
================================================== */

.cb {
	font-family: $gothic;
	font-size: 20px;
	text-transform: uppercase;
	color: $navy;
	display: inline;
	position: relative;
	top: 8px;
}

.checkboxFive {
	display: inline;
	position: relative;
	margin-right: 20px;
	margin-left: 20px;
}
.checkboxFive label {
	cursor: pointer;
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0;
  	left: 0;
	background: white;
	border:4px solid $teal;
}
.checkboxFive label:after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 6px;
	left: 7px;
	border: 3px solid $navy;
	border-top: none;
	border-right: none;
	color: $navy;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.checkboxFive label:hover::after {
	opacity: 0.5;
}
.checkboxFive input[type=checkbox]:checked + label:after {
	opacity: 1;
}

/* #Dropdown Styles
================================================== */

.dropcontainer {
	position:relative;
	font-size: 16px;
	color: #777;
	}

.trigger {
	color: #777;
	padding: 5px 5px 3px 5px;
	font-size: 16px;
	width: 100%;
	background: #fff url(assets/img/arrow_down.png) 98% center no-repeat;
	display: block;
	border: 1px solid #ccc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	font-family: $gothic;
	color: $navy;
	border: 4px solid $teal;
	text-transform: uppercase;
	font-size: 20px;
	}

.trigger:hover {
	color: #777;
	background: #f5f5f5 url(assets/img/arrow_down.png) 98% center no-repeat;
	}

.activetrigger {
	color: #777;
	padding: 5px 5px 3px 5px;
	font-size: 16px;
	width: 100%;
	background: $navy url(assets/img/arrow_up.png) 98% center no-repeat;
	display: block;
	border: 1px solid #ccc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: $gothic;
	color: $teal;
	border: 4px solid $navy;
	text-transform: uppercase;
	font-size: 20px;
	}

.activetrigger:hover {
	background: $navy url(assets/img/arrow_up.png) 98% center no-repeat;
	color: $teal !important;
	}

.activetrigger:active {
	background: $navy url(assets/img/arrow_up.png) 98% center no-repeat;
	color: $teal !important;
	}
.activetrigger:focus {
	background: $navy url(assets/img/arrow_up.png) 98% center no-repeat;
	color: $teal !important;
}

.dropcontainer ul {
	font-size: 16px;
	border: 4px solid $navy;
	border-top: none;
	background: #fff;
	list-style-type: none;
	padding: 5px 5px 3px 5px;
	margin: 0;
	width: 100%;
	z-index: 100;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: $gothic;
	color: $navy;
	text-transform: uppercase;
	font-size: 20px;
	}

.dropcontainer ul li {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	}

.dropcontainer ul li:hover {
	background: #f5f5f5;
	outline: none;
	}

.dropcontainer ul li:first-child {
	display: none;
	}

.dropcontainer ul li:last-child {
	border-bottom: none;
	}

.dropdownhidden {
	display: none;
	}

.dropdownvisible {
	height: auto;
	}


/* #Google Forms
================================================== */

.ss-form-container { font-family: $chaparral !important;
	.ss-top-of-page { margin-bottom: 20px; margin-top: 30px; font-family: $gothic; color: #2e485b; font-size: 34px; }
	.ss-form {
	}
	.ss-form ol { margin-left: 0px !important; }
	.ss-form-question { margin-bottom: 20px; }
	.ss-form-heading { font-size: 16px; line-height: 20px; font-family: $chaparral !important; color: black;
		.ss-form-desc { margin-bottom: 10px; }
		.ss-required-asterisk { font-size: 22px; }
	}
}

#ss-submit {
	background: transparent !important;
	color: #46a8a5 !important;
	font-size: 20px;
	line-height: 20px;
}

#ss-submit:hover {
	color: #2e485b !important;
}

.ss-q-title {
	font-family: $chaparral !important;
	font-size: 20px;
	line-height: 26px;
	color: #2e485b;
	font-weight: 100;
	margin-bottom: 10px;
}

.ss-q-help {
	font-family: $chaparral !important;
	font-size: 16px;
	line-height: 20px;
	color: black;
	font-weight: 100;
	margin-bottom: 20px;
}

textarea.ss-q-long {
	width: 100% !important;
	font-family: $chaparral !important;
	font-style: normal;
	font-size: 16px;
	line-height: 20px;
	padding: 10px;
}

/* #Media Queries
================================================== */


	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}
