
/* Table of Content
==================================================


/* Header Styles
================================================== */

#wpadminbar { position: fixed !important; }

header{
	.main-nav { height: 70px; border-bottom: 5px solid white;
		#logo { display: inline; float:left; background-image: url('assets/img/header.png'); background-repeat: no-repeat; width: 35%; height: 100%;
			img { margin: 8px 32px; }
		}
		#mainNav { display: inline; float: left; background-color: $orange; width: 55%; height: 100%; font-family: $gothic; text-transform: uppercase; font-size: 22px;

				ul { list-style-type: none; margin-right: 0px; margin-left: 16px; float: left; }
				ul li { display: inline; line-height: 70px; padding: 22px 16px; }
				ul li.current_page_item a { border-bottom: 5px solid white; }
				ul#menu-main-navigation > li:hover:after { content: url('assets/img/arrow.png'); position: absolute; top: 45px; margin-left: -4%; z-index:2; display: inline; }
				ul li:last-child:hover:after { display: none; }
				ul li a { color: white; }

				ul li ul { display: none; position: absolute; left: 0; z-index: 1; background-color: white; margin-left: 255px; padding-left: 15px; width: 100%; }
				ul li ul:before { content: 'Qualifying Language for Item >'; position: absolute; left: -255px; z-index:2; font-family: $chaparral; font-style: italic; text-transform: none; background-color: white; }

				ul li:hover ul { display: block; }

				ul li.current_page_ancestor ul { display: block; }
				ul li.current_page_item ul { display: block; }
				ul li ul li.current_page_item a { border-bottom: 5px solid $orange;}

				ul li ul li { display: inline; }
				ul li ul li:hover a { color: $brown;}
				ul li ul li:hover:after { display: none; }
				ul li ul li a { color: $orange; }

				#search { display: inline; float: right; color: white; padding: 25px 25px 25px 20px; cursor: pointer; }
				#search-box { display: none; position: absolute; right: 0; top: 75px; z-index: 1; width: 332px;
					.search-box-input { background-color: $dusty-blue; display: inline-block; float: left; width: 249px; padding: 10px; height: 44px;
						input { width: 100%; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
					}
					.search-box-button { background-color: $orange; display: inline-block; float: left; text-align: center;
						input { background: none; color: white; padding: 18px; }
					}
					.search-box-button:hover {
						input { color: $navy; }
					}
				}

		}
		#donate { float: left; background-color: $teal; width: 10%; font-family: $gothic; text-transform: uppercase; font-size: 22px; height: 100%; cursor: pointer;
			span { color: $navy; text-align:center; display: block; margin: 28px auto;
				a { color: $navy; }
			}
		}
		#donate:hover { background-color: $navy;
			span { color: $teal;
				a { color: $teal; }
			}
		}
	}
}


/* Navigation Styles
================================================== */



/* Responsive Menu
================================================== */


/* Breadcrumbs
================================================== */


#breadcrumbs{ list-style:none; margin-bottom: 20px; margin-left: 20px; overflow:hidden;
	li{ float:left; margin-right:15px; font-family: $chaparral; font-style: italic; font-size: 14px; color: #707070; }
	.separator{ font-weight:700; font-size:20px; color:#999; }
}


/* Homepage Styles
================================================== */

.home-callout { background-color: $dusty-blue; width: 35%; height: 345px; float: left;
	.home-callout-text { color: white; padding: 37px; font-size: 20px; line-height: 30px;
		.highlight { color: $teal; }
	}
}
.home-image { width: 65%; float: left; height: 345px; overflow: hidden;
	img { max-width: 100%; }
	.slide { position: absolute; top: 15px; color: white; background-color:rgba(70, 168, 165, 0.8); padding: 25px; margin: 25px; display: none;
		h2 { color: $navy; }
		a { text-transform: uppercase; color: $orange; font-family: $gothic; font-size: 20px; line-height: 20px; }
		a:hover { color: $navy; }
	}
}

.home-excerpt { border-top: 10px solid $dusty-blue; padding-top: 15px; margin-top: 15px; }

footer {
	.top-footer { background-image: url('assets/img/footer.jpg'); background-repeat: no-repeat; height: 168px; width: 100%; margin-top: 10px;
		.top-footer-box { border: 4px solid white; margin-top: 13px; margin-bottom: 13px; height: 102px; font-family: $gothic, sans-serif; text-transform: uppercase; color: white; font-size: 26px; line-height: 26px; text-align: center; padding: 16px 18px;
			img { margin-top: 5px;}
		}
	}
	.bottom-footer { font-family: $chaparral; font-size: 12px; line-height: 18px; padding: 14px;
		.bottom-footer-left { float: left; }
		.bottom-footer-right { float: right; text-align: right; }
	}
	.two { margin: 0px !important; padding-right: 15px; padding-left: 15px; }
	.two:hover { background-color: $teal; opacity: 0.7; }
}

/* PAGE Styles
================================================== */

.page-content { margin-top: 80px; margin-bottom: 40px; }

.content-block { border-top: 10px solid $navy;
	h2 { padding-top: 25px; }
	h4 { padding-top: 10px; margin-bottom: 3px; }
	.content-block-image { overflow: hidden; height: 100px; }
}

.content-callout { background-color: $dusty-blue; width: 35%; height: 345px; float: right;
	.content-callout-text { color: white; padding: 37px; font-size: 20px; line-height: 30px;
		.highlight { color: $teal; }
	}
}
.content-image { width: 65%; float: left; height: 345px; overflow: hidden;
	img { max-width: 100%; }
}

.resource-left { display: inline-block; }
.resource-right { float: right;
	.resource-right-textbox { padding: 15px; color: white; background-color: $navy; }
}

.read-more img { margin-top: 10px; }

/* FOOTER Styles
================================================== */



/* #Page Styles
================================================== */



/* #Blog Styles
================================================== */



/* #Media Queries
================================================== */


	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}
