
/* Table of Content
==================================================


/* Header Styles
================================================== */

header{
	.main-nav { height: 70px;
		#logo { display: inline; float:left; background-image: url('assets/img/header.png'); background-repeat: no-repeat; width: 360px; height: 100%;
			img { margin: 8px 32px; }
		}
		#mainNav { display: inline; float: left; background-color: $orange; width: 560px; height: 100%; font-family: $gothic; text-transform: uppercase; font-size: 22px;

				ul { list-style-type: none; margin-top: 25px; margin-right: 0px; float: left;}
				ul li { display: inline; margin-right: 33px; }
				ul li a { color: white; }
				ul li ul { display: none; }
				#search { display: inline; float: right; color: white; margin-top: 25px; margin-right: 25px; }

		}
		#donate { float: left; background-color: $teal; width: 100px; font-family: $gothic; text-transform: uppercase; font-size: 22px; height: 100%;
			span { color: $navy; text-align:center; display: block; margin: 28px auto; }
		}
	}
}


/* Navigation Styles
================================================== */



/* Responsive Menu
================================================== */



/* Homepage Styles
================================================== */



/* PAGE Styles
================================================== */



/* FOOTER Styles
================================================== */



/* #Page Styles
================================================== */



/* #Blog Styles
================================================== */



/* #Media Queries
================================================== */


	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}
